$primary-text-color: #c0c2c2;
$impact-text-color: #b0cfcf;
$impact-sub-text-color: #87a1a1;
$accent-color: #BB86FC;
//$accent-color: #959302;
$background-color: #121212;
$component-overlay: #ffffff17;